@charset "utf-8";

/*================================================ default footer ====================================================*/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}
/*============================================== END default footer ==================================================*/