@charset "utf-8";

/*================================================ default header ====================================================*/
.header {
  padding: 10px;
  width: 100%;
  text-align: center;
}
/*============================================== END default header ==================================================*/